<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="skylinebigredConnectionString" connectionString="Data Source=SQLB12.webcontrolcenter.com;Initial Catalog=skylinebigred;Persist Security Info=True;User ID=skyline;Password=augjak67!" providerName="System.Data.SqlClient" />-->
    <add name="skylinebigredConnectionString" connectionString="Data Source=SQLB32.webcontrolcenter.com;Initial Catalog=skyline;Persist Security Info=True;User ID=skyline;Password=augjak67!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />

    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" slidingExpiration="true" />
    </authentication>

    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="skylinebigredConnectionString" passwordStrengthRegularExpression="" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" applicationName="/skyline" />
        <add name="AspNetAdminMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="skylinebigredConnectionString" requiresQuestionAndAnswer="false" applicationName="/skyline" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="skylinebigredConnectionString" applicationName="/skyline" />
      </providers>
    </roleManager>

    <machineKey validationKey="20CE85C66E8474AB718478A91C66F991DE22725764641BF44994A97042B47F14D18ED98EE696067A3BFA50D53BB4C0D5C5A36F0A1D8EB52A9024F6D4EDD74A32" decryptionKey="F07BA080F25AAFC4EAF50084E16E01EC86D84E557504119106C14208DEE0E763" validation="SHA1" decryption="AES" />
    
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="donotreply@skylinebigreddistributing.com">
        <network host="mail.skylinebigreddistributing.com" password="augjak6" userName="donotreply@skylinebigreddistributing.com" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>