<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <location path="order.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Store"/>
        <deny roles="Demo"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="Store"/>
      <allow roles="Demo"/>
      <deny users="?"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
