body {
    padding: 40px 0 40px 0;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-group {
    margin-bottom: 10px;
}

.form-signin input[type="username"] {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom:0px;
}

.form-signin input[type="username"]:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),1px -4px 6px 0px rgba(70,72,72,0.6);
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top:0px;
}

.form-signin input[type="password"]:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),1px 4px 6px 0px rgba(70,72,72,0.6);
}
