body {
    background-color: black;
    @include box-sizing(border-box);
}

.wrapper {
    margin: 60px 0 60px 0;
}

.main-content {
    background-color: #FFF;
    border-width: 1px;
    border-color: #DDD;
    border-radius: 4px;
    box-shadow: none;
    padding: 15px;
    border-style: solid;
}

.navbar-right {
    margin-right: 0;
}

.navbar-brand-active {
    color: white !important;
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

.banner {
    text-align: center;
    width: 100%;
    margin: 20px auto auto auto;
    overflow: hidden;
    background: white;
    @include border-radius(.5em);
    border-width: 1px;
    border-color: White;
    border-radius: 4px;
    border-style: solid;
    padding: 5px;
}

    .banner img {
        max-height: 100%;
        position: center;
        @include translateX(-50%);
        border-bottom: black 1px solid;
    }


        .banner img @media(min-width: 800px) {
            top: 50%;
            left: 0;
            max-height: none;
            width: 100%;
            @include translateY(-50%);
        }

.form-control:focus {
    border-color: #6F94B8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(191,191,191,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(191,191,191,0.6);
}

.has-error {
    border-color: #d9230f;
    background-color: #f2dede;
}

.has-error::-moz-placeholder {
    color: #b94a48;
    opacity: 1;
}

.has-error:-ms-input-placeholder {
    color: #b94a48;
}

.has-error::-webkit-input-placeholder {
    color: #b94a48;
}

.has-error:focus {
    border-color: #d9230f;
}

.valSummary {
}

    .valSummary ul {
        padding-left: 0;
        margin-bottom: 9px;
    }

    .valSummary li {
        color: #b94a48;
        background-color: #f2dede;
        position: relative;
        display: block;
        padding: 10px 15px;
        border: none;
    }

        .valSummary li:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .valSummary li:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

.valPanel {
    padding-left: 0;
    margin-bottom: 9px;
    color: #b94a48;
    background-color: #f2dede;
    position: relative;
    display: block;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: none;
}

    .no-border > table {
        border: none;
    }

        .no-border > table > tbody {
            border: none;
        }

            .no-border > table > tbody > tr {
                border: none;
            }

                .no-border > table > tbody > tr > td {
                    border: none;
                }

.input-group-small {
    max-width: 300px;
}

span.valerror[style*="inline"] {
    display: table-cell !Important;
    color: #b94a48;
    background-color: #f2dede;
}

.panel .table-responsive {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text-align-right {
    text-align: right;
}

.line-break {
    border-bottom:1px solid #dddddd;
}

.panel .no-bottom-padding {
    padding-bottom:0 !important;
}

.table-hover {
    cursor:pointer;
}

.panel-footer h3 {
    margin:0;
    padding:0;
}

.order-items-description {
    min-width:300px;
}