body {
    background-color: black;
    @include box-sizing(border-box);
}

a.disabled {
    text-decoration: none;
    color: #bbb;
}

.wrapper {
    margin: 60px 0 60px 0;
}

.main-content {
    background-color: #FFF;
    border-width: 1px;
    border-color: #DDD;
    border-radius: 4px;
    box-shadow: none;
    padding: 15px;
    border-style: solid;
}

.navbar-right {
    margin-right: 0;
}

.navbar-brand-active {
    color: white !important;
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

.banner {
    text-align: center;
    width: 100%;
    margin: 20px auto auto auto;
    overflow: hidden;
    background: white;
    @include border-radius(.5em);
    border-width: 1px;
    border-color: White;
    border-radius: 4px;
    border-style: solid;
    padding: 5px;
}

    .banner img {
        max-height: 100%;
        position: center;
        @include translateX(-50%);
        border-bottom: black 1px solid;
    }


        .banner img @media(min-width: 800px) {
            top: 50%;
            left: 0;
            max-height: none;
            width: 100%;
            @include translateY(-50%);
        }

.has-error {
    border-color: #d9230f;
    background-color: #f2dede;
}

    .has-error::-moz-placeholder {
        color: #AFA0A0;
        opacity: 1;
    }

    .has-error:-ms-input-placeholder {
        color: #AFA0A0;
    }

    .has-error::-webkit-input-placeholder {
        color: #AFA0A0;
    }

    .has-error:focus {
        border-color: #AFA0A0;
    }

.valSummary {
}

    .valSummary ul {
        padding-left: 0;
        margin-bottom: 9px;
    }

    .valSummary li {
        color: #b94a48;
        background-color: #f2dede;
        position: relative;
        display: block;
        padding: 10px 15px;
        border: none;
    }

        .valSummary li:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .valSummary li:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

.valPanel {
    padding-left: 0;
    margin-bottom: 9px;
    color: #b94a48;
    background-color: #f2dede;
    position: relative;
    display: block;
    padding: 10px 15px;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: none;
}

    .no-border > table {
        border: none;
    }

        .no-border > table > tbody {
            border: none;
        }

            .no-border > table > tbody > tr {
                border: none;
            }

                .no-border > table > tbody > tr > td {
                    border: none;
                }

.input-group-small {
    max-width: 300px;
}

span.valerror[style*="inline"] {
    display: table-cell !Important;
    color: #b94a48;
    background-color: #f2dede;
}

.panel .table-responsive {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.text-align-right {
    text-align: right;
}

.line-break {
    border-bottom: 1px solid #dddddd;
}

.line-overline {
    border-top: 1px solid #dddddd;
}

.panel .no-bottom-padding {
    padding-bottom: 0 !important;
}

.table-hover {
    cursor: pointer;
}

    .table-hover .no-pointer {
        cursor: auto;
    }

.panel-footer h3 {
    margin: 0;
    padding: 0;
}

.order-items-description {
    min-width: 300px;
}

.clear-results {
    padding-top: 5px;
    padding-left: 2px;
}

.filter-results {
    padding-bottom: 5px;
}

.filter-results-data {
    margin-top: 10px;
}

.page-row {
    margin-top: 5px;
}

.page-info {
    margin-top: 8px;
}

.btn-fullwidth {
    width: 100%;
}

.thumbnail > img, .thumbnail a > img {
    max-height: 220px;
}

.thumbnail-bestseller {
    border-color: #D9230F;
}

.well-bestseller {
    border-color: #D9230F;
}

.finish-row {
    margin-bottom: 5px;
}

.product-info-thumbnail {
    margin-bottom: 9px;
}

/*Custom .page-btn*/
.page-btn {
    display: inline-block;
}

    .page-btn > a, .page-btn > span {
        display: inline-block;
        padding: 5px 14px;
        margin: 0 3px 0 3px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 15px;
    }

        .page-btn > a:hover, .page-btn > a:focus {
            text-decoration: none;
            background-color: #d9230f;
            color: #ffffff;
            border: 1px solid #dddddd;
        }

    .page-btn .page-btn-primary {
        background-color: #414343;
        border: 1px solid #2e2f2f;
        color: white;
    }

    .small > a, .page-btn > span {
        padding: 2px 14px !important;
        margin-top: 3px;
    }

    .page-btn .disabled, .page-btn .disabled:hover, .page-btn .disabled:focus, .page-btn .disabled > span {
        color: #dddddd;
        background-color: #ffffff;
        cursor: not-allowed;
    }


/*Order Page*/
.table > tbody > tr > td > img {
    min-width: 40px;
    min-height: 20px;
    max-height: 75px;
    max-width: 100px;
}

.order-footer h3 {
    margin-top: 6px !important;
}

.order-body .line-break {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*Admin*/
.top-margin-row {
    margin-top: 15px;
}

.table-select-row > td {
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
    background-color: black;
    color: white;
    cursor: auto;
}

    .table-select-row > td > a {
        background-color: transparent;
        color: white;
        font-weight: bold;
    }

.table-responsive-nested {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.form-group-nested > select, .form-group-nested > a {
    margin-bottom: 15px;
}

/*Custom Button*/
.btn-plain {
    color: #777777;
    background-color: #F5F5F5;
    border-color: #C5C5C5;
}

    .btn-plain:hover, .btn-plain:focus, .btn-plain.focus, .btn-plain:active, .btn-plain.active, .open > .dropdown-toggle.btn-plain {
        color: #D9230F;
        background-color: #EAEAEA;
        border-color: #C5C5C5;
    }

    .btn-plain:active, .btn-plain.active, .open > .dropdown-toggle.btn-plain {
        background-image: none;
    }

    .btn-plain.disabled, .btn-plain[disabled], fieldset[disabled] .btn-plain, .btn-plain.disabled:hover, .btn-plain[disabled]:hover, fieldset[disabled] .btn-plain:hover, .btn-plain.disabled:focus, .btn-plain[disabled]:focus, fieldset[disabled] .btn-plain:focus, .btn-plain.disabled.focus, .btn-plain[disabled].focus, fieldset[disabled] .btn-plain.focus, .btn-plain.disabled:active, .btn-plain[disabled]:active, fieldset[disabled] .btn-plain:active, .btn-plain.disabled.active, .btn-plain[disabled].active, fieldset[disabled] .btn-plain.active {
        background-color: #A7A7A7;
        border-color: #474949;
    }

    .btn-plain .badge {
        color: #FCFCFC;
        background-color: #777777;
    }


/*Try To Get Rid Of That Blue Glow*/
.form-control:focus {
    border-color: Black;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(70,72,72,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(70,72,72,0.6);
}

textarea:focus, input[type="text"]:focus, textarea[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .form-control:focus {
    border-color: #A6A6A6;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(70,72,72,0.6);
    outline: white;
}

/*Table Footer - Remove Hover*/
.table-hover-paged tbody > tr:last-child {
    background-color: white;
    cursor: auto;
}

    .table-hover-paged tbody > tr:last-child:hover {
        background-color: white;
    }

.table-pager {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .table-pager table > tbody > tr > td {
        display: inline;
    }

        .table-pager table > tbody > tr > td > a,
        .table-pager table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 5px 10px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #dd4814;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .table-pager table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 5px 10px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: no-drop;
        }

            .table-pager table > tbody > tr > td > span:hover {
                background-color: #f5f5f5;
            }

        .table-pager table > tbody > tr > td:first-child > a,
        .table-pager table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .table-pager table > tbody > tr > td:last-child > a,
        .table-pager table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .table-pager table > tbody > tr > td > a:hover,
        .table-pager table > tbody > tr > td > a:focus,
        .table-pager table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.table .form-control-small {
    padding: 2px 5px 2px 5px;
    height: auto;
}

.table .btn-small {
    padding: 2px 7px 2px 7px;
    height: auto;
}

.checkbox-inline label {
    padding-left: 0;
}

.float-right {
    float: right;
}

.list-group-item .glyphicon {
    font-size: 1.3em;
}

.hide-object {
    display: none !important;
}

a.list-group-item-danger {
    color: white;
}

.list-group-item-danger {
    background-color: #d9230f;
}

a.list-group-item-danger:hover, a.list-group-item-danger:focus {
    color: white;
    background-color: black;
}

.image-upload:hover {
    text-decoration: none !important;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.image .overlay {
    display:none;
    position: absolute;
    color:white;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    border-radius: 4px;
}

    .image:hover .overlay {
        display:block;
    }

.thumbnail a > .image > img {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail a > .image > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.image .overlay .glyphicon {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 60pt;
    padding-top:15px;
}

.help-text {
    padding-bottom:15px;
    display:block;
}
