<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <location path="sign_up.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <allow roles="Store"/>
        <allow roles="Order"/>
        <allow users="?"/>
        <deny roles="Demo"/>
      </authorization>
    </system.web>
  </location>
  <location path="forgot_password.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="User"/>
      <deny users="?"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
